:root{
    --orange: #DB6300;
    --orange2: #EA880F;
    --orange3: #EEAA2B;
    --orange4: #ECC170;
    --orange5: #FFFBF3;
    --blue: #0600AE;
    --blue2: #1F39BA;
    --blue3: #3793D8;
    --blue4: #7FC2D6;
    --blue5: #F1FFFF;
    --grey: #474747;
    --grey2: #666666;
    --grey3: #CACACA;
    --grey4: #E5E5E5;
    --white: #FFFFFF;
    --blue-fond: #F4F6FF;
    --font: #666666;
    --booking: #FAFAFB;
}
