.button {
    width: 170px;
    height: 50px;
    background-color: var(--blue) ;
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    border:var(--blue);
    border-radius: 10px;
}
